:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
}

.selected-user-container {
  position: fixed;
  right: 0;
  height: 100vh;
}
@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .selected-user-container {
    position: static;
    height: 90vh;
  }
  .overflow-y-scroll {
    overflow-y: scroll;
  }
}

@media (min-width: 1200px) {
}
